stages:
  - build
  - deploy

variables:
  DOCKER_IMAGE: $DOCKER_IMAGE

build:
  stage: build
  image: docker:20-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  services:
    - name: docker:20-dind
      alias: docker
      command: ["--tls=false"]
  script:
    - docker info
    - docker build -t $DOCKER_IMAGE .
    - docker login -u shopnow -p ssfKOPOO549 https://hub.docker.com/
    - docker push $DOCKER_IMAGE
  tags:
    - runner-shared-1

deploy:
  stage: deploy
  image: bitnami/kubectl:latest
  script:
    - docker compose up -d --no-deps shopnow-user-service
  tags:
    - runner-shared-1